 @charset "utf-8";

// include custom font

@font-face {
  font-family: "Trickster";
  src: url("../fonts/Trickster/Trickster-Regular.woff") ;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "RobotoMonoRegular";
  src: url("/fonts/RobotoMono/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "RobotoMonoBold";
  src: url("/fonts/RobotoMono/RobotoMono-SemiBold.ttf") format('truetype');
}

// Define defaults for each variable.
$trickster-font: "Trickster";

$base-bold-font: "RobotoMonoBold";

$base-font-family: "RobotoMonoRegular";
$base-font-size:   12px !default;
$base-font-weight: 400 !default;
$base-font-thick: 500 !default;
$base-font-ultrathick: 600 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

//pallete 1
$text-color:       #364353 !default;
$text-color-light: lighten($text-color, 60%) !default;
$text-color-dark:  darken($text-color, 25%) !default;

$background-color: #d9e6ec !default;

$aqua-color:       #5f8a92 !default;
$aqua-color-light: lighten($aqua-color, 40%) !default;
$aqua-color-dark:  darken($aqua-color, 25%) !default;

$maroon-color: #7a3f59;
$pale-blue-color: #d9e6ec;

//pallete 2\
$background-pale-color-2:#e2f3e4;
$dark-blue-2: #332c50;
$hot-green: #94e344;
$midblue-2: #46878f;

$light-colour: $hot-green;
$mid-colour: $midblue-2;
$dark-colour: $dark-blue-2;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
