 @charset "utf-8";

// include custom font

@font-face {
  font-family: "Trickster";
  src: url("../fonts/Trickster/Trickster-Regular.woff") ;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

// Define defaults for each variable.
$trickster-font: "Trickster";

$base-font-family: "Montserrat";

$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$base-font-thick: 800 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;


$text-color:       #364353 !default;
$text-color-light: lighten($text-color, 60%) !default;
$text-color-dark:  darken($text-color, 25%) !default;

$background-color: #d9e6ec !default;

$aqua-color:       #5f8a92 !default;
$aqua-color-light: lighten($aqua-color, 40%) !default;
$aqua-color-dark:  darken($aqua-color, 25%) !default;

$maroon-color: #7a3f59;
$pale-blue-color: #d9e6ec;


$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
