/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $dark-blue-2;
  background-image:url("/assets/img/Untitled-3.png");
  background-size:contain;
//  background-color: $dark-blue-2;
  border-left: 5px solid $hot-green;
  border-right: 5px solid $hot-green;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */

  margin-left: 20%;
  margin-right: 20%;
  border-left: 2px solid $hot-green;
  border-right: 2px solid $hot-green;
  border-bottom: 2px solid $hot-green;
 background-color: lighten($midblue-2, 50%);


 @include media-query($on-palm) {
   margin-left: 5%;
   margin-right: 5%;

 }
}




/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: padding-bottom;
  align: center;

}




/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1 {
  font-weight: $base-font-thick;

}

h2 {
  font-weight: $base-font-thick;
  text-decoration: underline;

}

 h3 {
     font-family: $base-bold-font;
     font-weight: $base-font-ultrathick;


 }

 h4, h5, h6 {
  font-weight: $base-font-thick;
}


/**
 * Links
 */
a {
  color: $dark-blue-2;
  text-decoration: underline;
  text-decoration-color: $dark-blue-2;

  &:visited {
    color: $dark-blue-2;
    text-decoration:underline;

  }

  &:hover {
   color: $dark-blue-2;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
      color:$hot-green;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $aqua-color;
  border-left: 4px solid $aqua-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $aqua-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$light-colour};
    padding-right: 5px;
    vertical-align: text-top;
}

.contact-list {
  .email {
    color:$hot-green;
  }
}

.social-media-list {
  .username{
    color: $hot-green;
  }


  li + li {
    padding-top: 5px;
    color:$hot-green;
  }

}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 0px solid $background-color;

  // table row
  tr {
    &:nth-child(even) {
      background-color: lighten($aqua-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  //table heading
  th {
    background-color: lighten($aqua-color-light, 3%);
    border: 0px solid darken($aqua-color-light, 4%);
    border-bottom-color: darken($aqua-color-light, 12%);
  }
  // table data
  td {
    border: 0px solid $aqua-color-light;
    vertical-align: top;
  }
}
