/**
 * Site header
 */
.site-header {
  border-top: 10px solid $dark-blue-2;
  border-bottom: 5px solid $hot-green;
  background-color: $dark-blue-2;
  min-height: $spacing-unit * 2;
  padding-left: 0;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(3);
  font-family: $trickster-font;
  font-weight: 300;
  color: $hot-green;
  text-decoration: none;


  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 5px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $hot-green;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $hot-green;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $hot-green;
    border: 1px solid $hot-green;
    border-radius: 5px;
    text-align: right;


    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
      color: lighten($midblue-2, 10%);
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      color: lighten($midblue-2, 10%);

      > svg {
        fill: $aqua-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
  color: $dark-blue-2;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 0px solid $hot-green;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(0);
  margin-bottom: $spacing-unit / 2;
  //background-color: $dark-blue-2;

  color:$hot-green;
}

.contact-list,
.social-media-list {
  color: $hot-green;
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.8);
background-color: $dark-blue-2;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

}

.footer-col {
  float: left;
  color: $hot-green;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));

}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
 vertical-align: center;
  padding: $spacing-unit 0;
 flex: 1 0 auto;


   h2 {
     @include relative-font-size(1.8);
     @include media-query($on-laptop) {
       @include relative-font-size(1.8);

     }
   }

   h3 {
     @include relative-font-size(1.5);
     @include media-query($on-laptop) {
       @include relative-font-size(1.5);
     }
   }

   h4 {
     @include relative-font-size(1.25);
     @include media-query($on-laptop) {
       @include relative-font-size(1.125);
     }
   }




}

.page-heading {
  @include relative-font-size(2.5);
  color: $dark-blue-2;
  text-decoration: underline;

}

.post-list-heading {
  @include relative-font-size(1.75);
  color: $dark-blue-2;
}


.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $dark-blue-2;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  color: $dark-blue-2;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  color: $dark-blue-2;



  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.8);
    @include media-query($on-laptop) {
      @include relative-font-size(2);

    }
  }

  h3 {
    @include relative-font-size(1.2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
